/racket/basic/test.rkt
/racket/basic/1a/*.rkt~
/racket/basic/1b/*.rkt~
/racket/basic/2/*.rkt~
/racket/basic/3a/*.rkt~
/racket/basic/3b/*.rkt~
/racket/basic/4a/*.rkt~
/racket/basic/4b/*.rkt~
/racket/practice-problems/1a/*.rkt~
/racket/practice-problems/1b/*.rkt~
/racket/practice-problems/2/*.rkt~
/racket/practice-problems/3a/*.rkt~
/racket/practice-problems/3b/*.rkt~
/racket/practice-problems/4a/*.rkt~
/racket/practice-problems/4b/*.rkt~
